.results {
  display: flex;
  justify-content: center;

  margin: 40px 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }

  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    max-width: 70%;

    i {
      font-size: 2rem;
      color: brown;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: 1.3px;
    }
  }
}
