.results-container {
}

.header-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.header-container img {
  width: 50px;
}

.header-container h2 {
  font-weight: 700;
  font-size: 36px;
  color: #d04f4f;
}
